description "base64 import"
mutation {
	expression "import_spec_list ((import_spec)* @imports)"
	substitute {
		literal "("
		literal "\n"
		capture "imports"
		literal "\n"
		literal #""base64""#
		literal "\n"
		literal ")"
	}
}
