description "filepath base to parent's base"
mutation {
	expression """
	(call_expression
		function: (_) @func (#eq? @func "filepath.Base")
		arguments: (_) @args
	)
	"""
	substitute {
		literal "filepath.Base(filepath.Dir(filepath.Clean"
		capture "args"
		literal "))"
	}
}
